header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.logo img {
  border: 2px solid;
  border-radius: 8px;
}

.contacts form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
